.idea
*.pyc
*.sqlite3
*.sqlite

env/*
venv/*
local_settings.py
.env
build/*
specs/build/*
dist/*
specs/dist/*
mzhbn_planning.log
results.db
request*.json
_result*.json
_excel_results_*.xlsx
activity_*.txt
dist_*.zip
file_*.log
result_*.json
*.log
.mypy_cache
*_excel_results_*.xlsx
*_result_*.json
~*.xlsx
activities/
json_results/
test_logs/
temp_excel_files/
